extends ../layout
block content
   div.container
      form.form-signin.well

         h1 CoffeeTime
         p Meet with other people in company to chat

         #[a.btn-google.btn-lg.btn-social.btn-block(href="/auth") #[i.fa.fa-google] Login with your company google account]