extends ../layout
block content
   div.container
      div.content
            a(href="/home") << Back to home
            h3 List of #{users.length} people that signed up
            ul
               for user in users
                  if user.displayName === ''
                     li= user.email
                  else
                     li= user.displayName


   footer.footer
      div.container
         p.text-muted Developed by #[a(href="mailto:josef.nevoral@hotelquickly.com") Josef Nevoral]